<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviar parámetros del request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del request HTTP GET - URL</h1>
	<ul>
		<li><a th:href="@{/params/string(texto='Hola Álvaro')}">/params/string?texto=Hola
				Álvaro</a></li>
		<li><a th:href="@{/params/string(texto='Qué tal')}">/params/string?texto=Qué
				tal</a></li>
		<li><a th:href="@{/params/mix-params(saludo='Buenos Días Álvaro', numero=9)}">/params/mix-params?texto=Buenos Días Álvaro&numero=9</a></li>
		<li><a th:href="@{/params/mix-params-request(saludo='Buenos Días Álvaro', numero=9)}">/params/mix-params-request?texto=Buenos Días Álvaro&numero=9</a></li>
	</ul>
</body>
</html>