<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<div th:if="${param.error != null}" th:text="${param.error}"></div>
	<div th:if="${param.success != null}" th:text="${param.success}"></div>
	<h1 th:text="${titulo}"></h1>
	<a th:href="@{/listar}">vovler</a>
	<div>
	<ul>
		<li th:text="${producto.nombre}"></li>
		<li th:text="'Id: ' + ${producto.id}"></li>
		<li th:text="'Precio: ' + ${#numbers.formatCurrency(producto.precio)}"></li>
		<li th:text="'Fecha: ' + ${#calendars.format(producto.createAt, 'dd/MM/yyyy')}"></li>
	</ul>
	</div>
</body>
</html>